<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Страница не найдена</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="d-flex justify-content-center mx-auto vw-100 flex-column vh-100">
    <h1 style="text-align: center">Страница не найдена! Ищите лучше</h1>
</div>
</body>
</html>